PORT=3004
BYBIT_KEY=
BYBIT_SECRET=
OPENAI_API_KEY=
OPENAI_API_URL=https://gpt.bot-assist.online/v1
MONGODB_URL=mongodb://root:secret@localhost:27018/
MONGODB_DATABASE=bybit
TELEGRAM_TOKEN=
TELEGRAM_PROXY_URL=

CLICKHOUSE_URL=http://localhost:48123
CLICKHOUSE_DATABASE=default
CLICKHOUSE_USERNAME=default
CLICKHOUSE_PASSWORD=

API_KEY=12345
